@media (max-height: 664px) {
  #section-one .content-sec-one h2 {
    font-size: 24px;
  }

  #section-info .content-sec-info .box {
    transform: translateY(-15px);
  }
}

@media (max-width: 1399px) {
  /* SECTION FOUR */

  #section-four .box h2 {
    font-size: 45px;
  }
}

@media (max-width: 1199px) {
  /* SECTION ONE */

  #section-one .content-sec-one h2 {
    font-size: 35px;
  }

  /* SECTION INFO */

  #section-info .box .content-box .counter {
    font-size: 45px;
  }

  /* SECTION FOUR */

  #section-four .box h2 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  /* SECTION INFO */

  #section-info .box .content-box .counter {
    font-size: 35px;
  }

  #section-info .box .content-box .label {
    text-align: center;
  }

  /* SECTION TWO */

  #section-two {
    padding: 40px 0;
  }

  #section-two .content-sec-two {
    flex-direction: column-reverse;
  }

  #section-two .left-content {
    margin-top: 45px;
  }

  /* SECTION THREE */

  #section-three {
    padding: 40px 0;
  }

  #section-three .title-sec h2 {
    font-size: 30px;
    width: 100%;
  }

  #section-three .swiper-slide {
    font-size: 16px;
    padding: 25px;
  }

  /* SECTION FOUR */

  #section-four {
    padding: 40px 0;
  }

  #section-four .box {
    height: auto;
  }

  #section-four .box h2 {
    font-size: 30px;
  }

  #section-four .box p {
    width: 100%;
  }

  #section-four .btn-contact-us a {
    padding: 10px 20px;
  }

  #section-four .btn-know-more a {
    padding: 10px 20px;
  }

  /* SECTION FIVE */

  #section-five {
    padding: 40px 0;
  }

  #section-five .content-sec-five {
    flex-direction: column-reverse;
  }

  #section-five .left-content {
    margin-top: 45px;
  }

  #section-five .left-content img {
    height: 500px;
  }

  #section-five .right-content .logo {
    justify-content: center;
  }

  #section-five .right-content p {
    text-align: center;
    font-size: 18px;
  }

  #section-five .right-content .btn-group {
    align-items: center;
    gap: 30px;
  }

  #section-five .btn-know-more a {
    padding: 10px 20px;
  }

  /* SECTION SIX */

  #section-six {
    padding: 40px 0;
  }

  #section-six .right-content {
    margin-top: 45px;
  }

  /* SECTION SEVEN */

  #section-seven {
    padding: 40px 0;
  }

  #section-seven .title-sec {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #section-seven .btn-title {
    margin-top: 20px;
  }

  #section-seven .card {
    height: auto;
    width: 100%;
  }

  #section-seven .card .img-blog img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  #section-seven .card .title {
    height: auto;
    margin-top: 20px;
  }

  #section-seven .card .text {
    height: 130px;
  }

  /* SECTION EIGHT */

  #section-eight {
    padding: 80px 0;
  }

  #section-eight .content-sec-eight p {
    width: 55%;
  }
}

@media (max-width: 767px) {
  /* SECTION ONE */

  #section-one .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-one .left-content h2 {
    font-size: 30px;
    text-align: center;
  }

  #section-one .left-content p {
    margin-top: 15px;
    text-align: center;
  }

  #section-one .btn-contact-us {
    margin-top: 25px;
  }

  #section-one .partner {
    margin-top: 40px;
  }

  /* SECTION INFO */

  #section-info .content-sec-info .box {
    height: auto;
    width: 100%;
    flex-direction: column;
    padding: 25px;
  }

  #section-info .content-box {
    padding: 15px 0;
  }

  #section-info .box #border {
    border-top: 1px solid #808080ad;
    border-bottom: 1px solid #808080ad;
    border-right: 0px solid;
    border-left: 0px solid;
  }
}

@media (max-width: 505px) {
  /* SECTION ONE */

  #section-one .left-content h2 {
    font-size: 25px;
  }

  /* SECTION-THREE */

  #section-three .title-sec h2 {
    font-size: 25px;
  }

  #section-three .swiper-slide {
    width: 340px;
    padding: 25px;
  }

  #section-three .swiper-slide:nth-child(2n) {
    width: 340px;
  }

  #section-three .swiper-slide:nth-child(3n) {
    width: 340px;
  }

  #section-three .swiper-slide .icon {
    height: 60px;
    width: 60px;
  }

  #section-three .swiper-slide .text {
    height: 180px;
  }

  /* SECTION FOUR */

  #section-four .box h2 {
    font-size: 25px;
  }

  #section-four .box .btn-group {
    gap: 30px;
  }

  /* SECTION FIVE */

  #section-five .right-content .logo img {
    height: 55px;
  }

  #section-five .right-content p {
    font-size: 16px;
  }

  #section-five .left-content img {
    height: 400px;
  }

  /* SECTION SIX */

  #section-six .swiper-slide {
    height: auto;
  }

  #section-six .swiper-slide .text {
    height: 270px;
  }

  /* SECTION SEVEN */

  #section-seven .card .text {
    height: 200px;
  }
}
